mixin video(video) 

    article.videoTictok
            div.video-container

                a(href=`/videos/${video.id}`)
                    video(src=video.fileUrl) 
                div.videoText
                    h1=video.title
                    nav
                        div 
                            if !loggedInUser.likeVideos.map((item) => item.toString()).includes(video.id) 
                                span.likeBtn 🤍
                            else
                                span.undoLike ❤️ 
                        div
                            <i class="fa-regular fa-eye"></i>
                            span=video.meta.views
                        div.copyBtn
                            span
                            i.fa-solid.fa-copy(data-id=`videos/${video.id}`)
                            //- #{`/videos/${video.id}`}
                    small=String(video.createdAt).substring(11,25).replace(" ","년 ")
            