mixin video(video) 

    article.videoYoutube
            a(href=`/videos/${video.id}`)
                div.column
                    video(src=`${"/" + video.fileUrl}`) 
                div.column
                    img(src=video.owner.socialOnly ? video.owner.avatarUrl : "/" +video.owner.avatarUrl, alt="")
                    div 
                        h1=video.title
                        h2=video.owner.name
                        small #{video.meta.views >1 ? `${video.meta.views} views` : `${video.meta.views} view`} •  #{video.meta.like >1 ? `${video.meta.like} likes` : `${video.meta.like} like`} • #{String(video.createdAt).substring(11,25).replace(" ","년 ")}
                        